body{
    font-family: 'Lato', sans-serif;
    background-color:cornsilk;
}
h1{
    color: lavender;
    background-color: black;
}
h3{
    display: inline;
}
h3{
    color: azure;
    background-color: black;
}